.search-form {
    display: flex;
    justify-content: center;
    background-color: rgba(85, 85, 240, 0.764);
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.js-hidden {
    display: none;
}